<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заголовок 1</title>
    <style>
        .H2_text{
            color: red
        }
    </style>
</head>
<body>
<div>
    <h1 id="H1_text">H1 text</h1>
    <h2 class="H2_text">H2 text</h2>
    <h6 class="H2_text">H6 text</h6>
    <p>Будьте вежливы и соблюдайте наши <span style="color: green">принципы</span> сообщества.</p>
    <a href="https://stepik.org/lesson/1452311/step/1?unit=1471322" target="_blank">learning</a>
    <img alt="browser.png" src="https://stepik.org/static/frontend/topbar_logo.svg" style="width: 250px">
    <ul>
        <li>item 1</li>
        <li>item 2</li>
        <li>item 3</li>
    </ul>
    <ol>
        <li>item 11</li>
        <li>item 22</li>
        <li>item 33</li>
    </ol>
    <form action="/action" method="POST">
        <input type="text" value="default value" placeholder="placeholder">
        <input type="datetime-local" placeholder="placeholder">
        <input required type="email" placeholder="test@email.com">
        <input type="password" placeholder="password">
        <textarea placeholder="placeholder">default text</textarea>
    <button type="submit" disabled>push button</button>
    </form>
    <table>
        <thead>
        <tr>
            <td>Col 1</td>
            <td>Col 2</td>
            <td>Col 3</td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Row 1</td>
            <td>Row 2</td>
            <td>Row 3</td>
        </tr>
        <tr>
            <td>Row 1</td>
            <td>Row 2</td>
            <td>Row 3</td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>